#home {
    .inner {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: flex;
        .main-content {
            background: #0e0e0e;
            width: calc(100% - 280px);
            .start-header {
                font-family: 'DIN_Medium';
                font-size: 41px;
                margin-top: 20px;
            }
            .start {
                text-align: center;
                color: #ffffff;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .img-start {
                    width: 80%;
                    max-width: 900px;
                }
                .start-description {
                    width: 50%;
                    margin-top: 30px;
                    font-size: 16px;
                    max-width: 850px;
                    font-family: 'DIN_Light';
                }
            }
            .free {    
                width: 10%;
			    position: absolute;
			    bottom: 500px;
			    max-width: 250px;
			    right: 0;
            }
        }
    }
    
}

.footer {
    background: #0a0a0a !important;
}

.masthead.segment {
    padding: 0;
}
