@font-face {
    font-family: 'DIN_Light';
    src: url('/fonts/DINLight.ttf') format('truetype');
}

@font-face {
    font-family: 'DIN_Medium';
    src: url('/fonts/DIN Medium Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DIN_Light_Regular';
    src: url('/fonts/DIN Light Regular.otf');
}
@import "common/colors";
@import "common/variables";
@import "common/range-mixins";

@import "semantic";
@import "cropper";
@import "react-draft-wysiwyg";
@import "draft-emoji";
@import "globals";

@import "layouts/App";
@import "layouts/Header";
@import "layouts/Footer";

@import "components/Admin";
@import "components/Comments";
@import "components/Editor";
@import "components/ImageEditor";
@import "components/Invites";
@import "components/Notification";
@import "components/Pagination";
@import "components/Posts";
@import "components/PostPage";
@import "components/Recommended";
@import "components/Search";
@import "components/Sidebar";
@import "components/Spinner";
@import "components/Stories";
@import "components/Tags";
@import "components/Upload";
@import "components/Users";
@import "components/LeftSidebar";
@import "components/HomeComment";
@import "components/Modal";
@import "pages/Home";
@import "pages/Auth";
@import "pages/404";

@import "layouts/Tablet";
@import "layouts/Mobile";


