.footer {
  margin: 0 !important;
  border-radius: 0 !important;
  padding-top: 30px !important;
  .ui.page.grid {
    padding: 0px;
  }
  .ui.grid > .row {
    &.pages-links {
      padding: 2em 0 3em 0;
      .ui.link.list .item, .ui.link.list a.item, .ui.link.list .item a:not(.ui) {
        &.header {
          font-size: 1.3em;
          font-weight: 500;
          color: rgba(255,255,255,0.8);
          &:hover {
            color: rgba(255,255,255,0.8)!important;
          }
        }
        padding-bottom: 0.85em;
        font-weight: 100;
        color: #4f4f4f !important;
        &:hover {
          color: $main!important;
        }
      }
    }
    & > .column {
      text-align: left;
    }
  }
  .logo {
    font-weight: 800;
    color: #ffffff;
    font-size: 16pt;
    padding: 0!important;
    margin-bottom: 8px;
  }
  .button {
    background: transparent;
    padding: 0 !important;
    &:hover {
      background: transparent;
    }
  }
  .flag-section {
    display: flex !important;
    align-items: start;
    justify-content: space-between;
    padding: 0 !important;
  }
  .social-section {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .gambling {
    display: flex !important;
    align-items: center;
    img {
      margin-right: 30px;
    }
  }
  .btn-social {
    padding: 0 !important;
  }
  .android-app {
    .button {
      float: right;
    }
  }
  .social-links {
    text-align: right!important;
    padding: 0 0.5em!important;
  }
  .menu-copyright {
    border-top: 3px solid transparent;
    -moz-border-image: -moz-linear-gradient(to right, #b71920, #b71920, #7c2d71, #543aa7, #2b48e0);
    -webkit-border-image: -webkit-linear-gradient(to right, #b71920, #b71920, #7c2d71, #543aa7, #2b48e0);
    border-image: linear-gradient(to left, #b71920, #b71920, #7c2d71, #543aa7, #2b48e0);
    border-image-slice: 1;
    padding: 30px 50px 0px 50px !important;
    margin-bottom: 20px !important;
    display: flex;
    align-items: center;
    p {
      text-align: left;
      color: rgba(255,255,255,0.3);
      font-size: 14px;
      font-family: 'DIN_Light'
    }
    a {
      text-align: left;
      color: rgba(255,255,255,0.3);
      font-size: 14px;
      font-family: 'DIN_Light'
    }
    display: flex !important;
    align-items: center !important;
  }
  .payment-menu {
    i {
      color: #AFAFAF!important;
    }
  }
  .image-padding {
    margin-left: 15px;
  }
}