.top-header {
  &.ui.secondary.menu {
    position: relative;
    z-index: 1000;
    height: 4rem;
    padding: 0 1rem;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 0;
    &.transparent {
      background-color: #0a0a0a;
      border-bottom: none;
      height: 100px;
      width: 100%;
      padding: 0;
      margin: 0;
      border-bottom: 3px solid transparent;
      -moz-border-image: -moz-linear-gradient(to right, #b71920, #b71920, #7c2d71, #543aa7, #2b48e0);
      -webkit-border-image: -webkit-linear-gradient(to right, #b71920, #b71920, #7c2d71, #543aa7, #2b48e0);
      border-image: linear-gradient(to right, #b71920, #b71920, #7c2d71, #543aa7, #2b48e0);
      border-image-slice: 1;
      .item.header {
        margin: 0 auto;
        a {
          height: 100%;
          margin: 0 auto;
          img {
            border-radius: 0;
            margin: 0;
            width: 90%;
          }
        }
      }
      .item > .top-menu-link {
        color: #ffffff;
        font-family: 'DIN_Light';
      }
      .readability-mode, .language-toggle, .notif-topmenu {
        border: none;
        color: $white;
        &:hover {
          color: $main;
        }
      }
      .new-post-button {
        background-color: $white;
        color: $gray-dark;
        &:hover {
          background-color: $main;
          color: $white;
        }
      }
      .search {
        input {
          background-color: transparent;
          color: $white;
          border: 1px solid rgba(255,255,255,0.2);
          &::placeholder {
            color: rgba(255, 255, 255, 0.7);
          }
        }
        i.icon {
          color: $white;
        }
      }
      .login-button {
        background-color: transparent;
        color: $white;
      }
      .signup-button {
        background: #214bee;
        border-radius: 0 !important;
        color: #ffffff;
        margin: 0;
      }
    }
  }

  .user-topmenu {
    position: relative;
    display: inline-block;
    .icon.dropdown {
      color: $gray-dark;
      margin: 0;
      font-size: 0.9em;
    }
    .avatar {
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 999em;
      vertical-align: -75%;
    }
    .icon {
      vertical-align: -5%;
      font-size: 1.2em;
      margin-left: 4px;
    }
  }
  .ui.dropdown .menu.user-menu {
    margin-top: 24px!important;
    padding: 6px!important;
    & > .item {
      padding: 0!important;
      a, &.sign-out {
        font-weight: 400!important;
        padding: 0.78571429em 1.14285714em !important;
        display: block;
        &:hover, &:active, &:focus {
          background: $gray-lighter !important;
          color: $main!important;
        }
      }
      .ui.empty.circular.label {
        top: 1em!important;
        left: 87%!important;
      }
      .upgrade {
        color: $danger!important;
        &:hover, &:active, &:focus {
          color: $danger!important;
        }
      }
    }
  }

  .right.menu {
    .right.item {
      height: 100%;
      margin: 0;
      padding: 0;
      .auth-section {
        height: 100%;
        display: flex;
      }
    }
  }
}

a.logo {
  height: 2.2rem;
  font-weight: bold;
  margin-right: 1rem;
  span {
    font-size: 1.6rem;
  }
  &:active, &:focus {
    color: $gray-dark!important;
  }
}

.new-post-button {
  margin: 0 1em;
  background-color: $main;
  color: $white;
  transition: background-color 0.5s ease;
  &:hover, &:active, &:focus {
    background-color: $main-light;
    color: $white;
  }
}

.ui.pointing.dropdown > .menu:after {
  top: -0.35em;
}

.messages-menu, .notif-topmenu {
  margin: 0 6px;
  & > span {
    vertical-align: 15%;
  }
  .ui.empty.circular.label {
    top: -0.3!important;
  }
  .event .label {
    background-color: transparent!important;
    top: 0!important;
    padding: 0!important;
    margin: 0!important;
  }
}

.messages-menu, .notif-topmenu > span {
  vertical-align: 15%;
}
